# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, see
# https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore

.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore

# Node.js dependencies:
node_modules/

# TypeScript source files (keep compiled JS)
src/
!src/**/*.js

# Test files
**/*test*
**/__tests__/

# Build outputs we don't need
*.log
*.tgz
.DS_Store
